.todos {
  padding: 0;
  margin: 30px auto;
  list-style: none;
  max-width: 400px;
}

.todos__todo {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 20px;
  background: rgb(255, 252, 240);
  box-shadow: 0 0 6px rgba(0,0,0,0.5); 
  padding: 10px;
  width: 100%;
}

.todos__tittle {
  display: flex;
  flex-direction: column;
}

.todos__tittle span {
  font-size: 20px;
  font-style: italic;
}

.inWork {
  color: rgb(255, 129, 129);
}

.open {
  color: rgb(66, 174, 207);
}

.todos__todo div div {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
}

.todos__todo button {
  box-shadow: 0 0 6px rgba(0,0,0,0.5); 
  border: none;
  background: white;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  margin-left: 10px;
  height: 40px;
  cursor: pointer;
}